@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }

    h6 {
        @apply text-sm;
    }
}

.bg-primary {
    background-color: #1565D8;
}

.text-primary {
    color: #1565D8;
}

.vld-icon {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}